body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(69, 129, 116);
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin: 5rem;
}

.image-intro {
  align-content: center;
  margin: 2rem;
}

.resume {
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  font-size: 2rem;
}

.header {
  background-color: rgba(0, 0, 0, 0.781);
  position: absolute;
  font-size: 1.5rem;
  width: 100%;
  top: 0;
  right: 0;
  color: white;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.wrapper {
  background-color: rgba(245, 245, 245, 0.61);
  padding: 3rem;
  margin: 2rem;
  margin-top: 4rem;
  align-content: center;
}

.title {
  width: 99%;
  background-color: rgb(69, 129, 116);
  color: whitesmoke;
  padding: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
}

.container {
  padding: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
}

.product-information {
  display: flex;
  flex-direction:column;
  font-size: 2rem;
  padding: 1rem;
  width: 50%;
}

.product-detail {
  width: 100%;
  background-color:rgba(245, 245, 245, 0.212);
  padding: 2rem;
  padding-left: 5rem;
  margin: 1rem;
  text-align: left;
  justify-content: center;
}

.image {
  display: flex;
  padding: 1rem;
  width: 50%;
}