<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <% include cabecera.html %>
        <div class="wrapper">
            <div class="title">
                <h1><%= anuncio.name %></h1>
            </div>
            <div class="container">
                <div class="product-information">
                    <div class="product-detail">
                        <p>On sale: <%= anuncio.sale %> </p>
                        <p>Price: <%= anuncio.price %> € </p>
                        <p>Location: <%= anuncio.location %>  </p>
                        <p>Tags: <%= anuncio.tags %> </p>
                    </div>
                </div>
                <div class="image">
                    <img src="<%= anuncio.photo %>" alt="">
                </div>
            </div>
        </div>
    </body>
</html>


